DBLayerGeneratorTest/ApplicationClient/Connected Services/AppointmentServiceClient/AppointmentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AccountUpsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parameters" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountUpsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountUpsertResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppointmentUpsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parameters" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppointmentUpsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AppointmentUpsertResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreUpsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parameters" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreUpsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoreUpsertResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerUpsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parameters" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerUpsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerUpsertResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceProvdiderUpsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parameters" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceProvdiderUpsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceProvdiderUpsertResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parameters" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountGetResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>