DBLayerGeneratorTest/ApplicationClient/Connected Services/AppointmentServiceClient/AppointmentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AppointmentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/AppointmentService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/AppointmentService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAppointmentService_AccountUpsert_InputMessage">
    <wsdl:part name="parameters" element="tns:AccountUpsert" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_AccountUpsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccountUpsertResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_AppointmentUpsert_InputMessage">
    <wsdl:part name="parameters" element="tns:AppointmentUpsert" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_AppointmentUpsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:AppointmentUpsertResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_StoreUpsert_InputMessage">
    <wsdl:part name="parameters" element="tns:StoreUpsert" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_StoreUpsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:StoreUpsertResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_CustomerUpsert_InputMessage">
    <wsdl:part name="parameters" element="tns:CustomerUpsert" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_CustomerUpsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:CustomerUpsertResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_ServiceProvdiderUpsert_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceProvdiderUpsert" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_ServiceProvdiderUpsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceProvdiderUpsertResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_AccountGet_InputMessage">
    <wsdl:part name="parameters" element="tns:AccountGet" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_AccountGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccountGetResponse" />
  </wsdl:message>
  <wsdl:portType name="IAppointmentService">
    <wsdl:operation name="AccountUpsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/AccountUpsert" message="tns:IAppointmentService_AccountUpsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/AccountUpsertResponse" message="tns:IAppointmentService_AccountUpsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AppointmentUpsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/AppointmentUpsert" message="tns:IAppointmentService_AppointmentUpsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/AppointmentUpsertResponse" message="tns:IAppointmentService_AppointmentUpsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StoreUpsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/StoreUpsert" message="tns:IAppointmentService_StoreUpsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/StoreUpsertResponse" message="tns:IAppointmentService_StoreUpsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CustomerUpsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/CustomerUpsert" message="tns:IAppointmentService_CustomerUpsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/CustomerUpsertResponse" message="tns:IAppointmentService_CustomerUpsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceProvdiderUpsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/ServiceProvdiderUpsert" message="tns:IAppointmentService_ServiceProvdiderUpsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/ServiceProvdiderUpsertResponse" message="tns:IAppointmentService_ServiceProvdiderUpsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccountGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/AccountGet" message="tns:IAppointmentService_AccountGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/AccountGetResponse" message="tns:IAppointmentService_AccountGet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAppointmentService" type="tns:IAppointmentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AccountUpsert">
      <soap:operation soapAction="http://tempuri.org/IAppointmentService/AccountUpsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppointmentUpsert">
      <soap:operation soapAction="http://tempuri.org/IAppointmentService/AppointmentUpsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreUpsert">
      <soap:operation soapAction="http://tempuri.org/IAppointmentService/StoreUpsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerUpsert">
      <soap:operation soapAction="http://tempuri.org/IAppointmentService/CustomerUpsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceProvdiderUpsert">
      <soap:operation soapAction="http://tempuri.org/IAppointmentService/ServiceProvdiderUpsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountGet">
      <soap:operation soapAction="http://tempuri.org/IAppointmentService/AccountGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AppointmentService">
    <wsdl:port name="BasicHttpBinding_IAppointmentService" binding="tns:BasicHttpBinding_IAppointmentService">
      <soap:address location="http://localhost:8733/AppointmentService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>