DBLayerGeneratorTest/ApplicationClient/Connected Services/AppointmentService/AppointmentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AppointmentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="wsSecureService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpsToken RequireClientCertificate="false" />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:SignedSupportingTokens>
                      <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:WssUsernameToken10 />
                          </wsp:Policy>
                        </sp:UsernameToken>
                      </wsp:Policy>
                    </sp:SignedSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy />
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:24599/AppointmentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:24599/AppointmentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAppointmentService_CustomerGet_InputMessage">
    <wsdl:part name="parameters" element="tns:CustomerGet" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_CustomerGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:CustomerGetResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_CustomerToXML_InputMessage">
    <wsdl:part name="parameters" element="tns:CustomerToXML" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_CustomerToXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:CustomerToXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_CustomerToXMLByDateTime_InputMessage">
    <wsdl:part name="parameters" element="tns:CustomerToXMLByDateTime" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_CustomerToXMLByDateTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:CustomerToXMLByDateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_StoreUpsert_InputMessage">
    <wsdl:part name="parameters" element="tns:StoreUpsert" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_StoreUpsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:StoreUpsertResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_StoreGet_InputMessage">
    <wsdl:part name="parameters" element="tns:StoreGet" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_StoreGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:StoreGetResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_StoreToXML_InputMessage">
    <wsdl:part name="parameters" element="tns:StoreToXML" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_StoreToXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:StoreToXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_RefreshTokenNoReturn_InputMessage">
    <wsdl:part name="parameters" element="tns:RefreshTokenNoReturn" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_RefreshTokenNoReturn_OutputMessage">
    <wsdl:part name="parameters" element="tns:RefreshTokenNoReturnResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_StoreToXMLByDateTime_InputMessage">
    <wsdl:part name="parameters" element="tns:StoreToXMLByDateTime" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_StoreToXMLByDateTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:StoreToXMLByDateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_PermissionUpsert_InputMessage">
    <wsdl:part name="parameters" element="tns:PermissionUpsert" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_PermissionUpsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:PermissionUpsertResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_PermissionGet_InputMessage">
    <wsdl:part name="parameters" element="tns:PermissionGet" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_PermissionGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:PermissionGetResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_PermissionToXML_InputMessage">
    <wsdl:part name="parameters" element="tns:PermissionToXML" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_PermissionToXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:PermissionToXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_CreateUpsert_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUpsert" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_CreateUpsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUpsertResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_PermissionToXMLByDateTime_InputMessage">
    <wsdl:part name="parameters" element="tns:PermissionToXMLByDateTime" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_PermissionToXMLByDateTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:PermissionToXMLByDateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_SystemUserGroupUpsert_InputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserGroupUpsert" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_SystemUserGroupUpsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserGroupUpsertResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_GenerateToken_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateToken" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_GenerateToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_SystemUserUpsert_InputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserUpsert" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_SystemUserUpsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserUpsertResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_SystemUserGroupGet_InputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserGroupGet" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_SystemUserGroupGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserGroupGetResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_SystemUserGet_InputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserGet" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_SystemUserGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserGetResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_SystemUserGroupToXML_InputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserGroupToXML" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_SystemUserGroupToXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserGroupToXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_SystemUserGroupToXMLByDateTime_InputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserGroupToXMLByDateTime" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_SystemUserGroupToXMLByDateTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserGroupToXMLByDateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_RefreshToken_InputMessage">
    <wsdl:part name="parameters" element="tns:RefreshToken" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_RefreshToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:RefreshTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_SystemUserGroupPermissionUpsert_InputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserGroupPermissionUpsert" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_SystemUserGroupPermissionUpsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserGroupPermissionUpsertResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_SystemUserGroupPermissionGet_InputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserGroupPermissionGet" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_SystemUserGroupPermissionGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserGroupPermissionGetResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_SystemUserGroupPermissionToXML_InputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserGroupPermissionToXML" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_SystemUserGroupPermissionToXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserGroupPermissionToXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_SystemUserGroupPermissionToXMLByDateTime_InputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserGroupPermissionToXMLByDateTime" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_SystemUserGroupPermissionToXMLByDateTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserGroupPermissionToXMLByDateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_SystemUserPermissionToXML_InputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserPermissionToXML" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_SystemUserPermissionToXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserPermissionToXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_SystemUserPermissionToXMLByDateTime_InputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserPermissionToXMLByDateTime" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_SystemUserPermissionToXMLByDateTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserPermissionToXMLByDateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_SystemUserGroupLineToXML_InputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserGroupLineToXML" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_SystemUserGroupLineToXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserGroupLineToXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_SystemUserGroupLineToXMLByDateTime_InputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserGroupLineToXMLByDateTime" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_SystemUserGroupLineToXMLByDateTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserGroupLineToXMLByDateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_GetChildren_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChildren" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_GetChildren_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChildrenResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_CreateToXml_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateToXml" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_CreateToXml_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateToXmlResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_SystemUserPermissionUpsert_InputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserPermissionUpsert" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_SystemUserPermissionUpsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserPermissionUpsertResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_SystemUserPermissionGet_InputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserPermissionGet" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_SystemUserPermissionGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserPermissionGetResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_AccountUpsert_InputMessage">
    <wsdl:part name="parameters" element="tns:AccountUpsert" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_AccountUpsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccountUpsertResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_AccountGet_InputMessage">
    <wsdl:part name="parameters" element="tns:AccountGet" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_AccountGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccountGetResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_AccountToXML_InputMessage">
    <wsdl:part name="parameters" element="tns:AccountToXML" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_AccountToXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccountToXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_AccountToXMLByDateTime_InputMessage">
    <wsdl:part name="parameters" element="tns:AccountToXMLByDateTime" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_AccountToXMLByDateTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccountToXMLByDateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_AuditLogUpsert_InputMessage">
    <wsdl:part name="parameters" element="tns:AuditLogUpsert" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_AuditLogUpsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuditLogUpsertResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_ActivityScheduleUpsert_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivityScheduleUpsert" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_ActivityScheduleUpsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivityScheduleUpsertResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_ActivityScheduleGet_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivityScheduleGet" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_ActivityScheduleGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivityScheduleGetResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_Tester_InputMessage">
    <wsdl:part name="parameters" element="tns:Tester" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_Tester_OutputMessage">
    <wsdl:part name="parameters" element="tns:TesterResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_ActivityScheduleToXML_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivityScheduleToXML" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_ActivityScheduleToXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivityScheduleToXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_ActivityScheduleToXMLByDateTime_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivityScheduleToXMLByDateTime" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_ActivityScheduleToXMLByDateTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivityScheduleToXMLByDateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_ActivityTypeUpsert_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivityTypeUpsert" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_ActivityTypeUpsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivityTypeUpsertResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_ActivityTypeGet_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivityTypeGet" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_ActivityTypeGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivityTypeGetResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_ActivityTypeToXML_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivityTypeToXML" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_ActivityTypeToXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivityTypeToXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_ActivityTypeToXMLByDateTime_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivityTypeToXMLByDateTime" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_ActivityTypeToXMLByDateTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivityTypeToXMLByDateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_AppointmentUpsert_InputMessage">
    <wsdl:part name="parameters" element="tns:AppointmentUpsert" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_AppointmentUpsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:AppointmentUpsertResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_AppointmentGet_InputMessage">
    <wsdl:part name="parameters" element="tns:AppointmentGet" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_AppointmentGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:AppointmentGetResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_AppointmentToXML_InputMessage">
    <wsdl:part name="parameters" element="tns:AppointmentToXML" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_AppointmentToXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:AppointmentToXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_AppointmentToXMLByDateTime_InputMessage">
    <wsdl:part name="parameters" element="tns:AppointmentToXMLByDateTime" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_AppointmentToXMLByDateTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:AppointmentToXMLByDateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_ServiceProviderUpsert_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceProviderUpsert" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_ServiceProviderUpsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceProviderUpsertResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_ServiceProviderGet_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceProviderGet" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_ServiceProviderGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceProviderGetResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_ServiceProviderToXML_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceProviderToXML" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_ServiceProviderToXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceProviderToXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_ServiceProviderToXMLByDateTime_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceProviderToXMLByDateTime" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_ServiceProviderToXMLByDateTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceProviderToXMLByDateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_CustomerUpsert_InputMessage">
    <wsdl:part name="parameters" element="tns:CustomerUpsert" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_CustomerUpsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:CustomerUpsertResponse" />
  </wsdl:message>
  <wsdl:portType name="IAppointmentService">
    <wsdl:operation name="CustomerGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/CustomerGet" message="tns:IAppointmentService_CustomerGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/CustomerGetResponse" message="tns:IAppointmentService_CustomerGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CustomerToXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/CustomerToXML" message="tns:IAppointmentService_CustomerToXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/CustomerToXMLResponse" message="tns:IAppointmentService_CustomerToXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CustomerToXMLByDateTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/CustomerToXMLByDateTime" message="tns:IAppointmentService_CustomerToXMLByDateTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/CustomerToXMLByDateTimeResponse" message="tns:IAppointmentService_CustomerToXMLByDateTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StoreUpsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/StoreUpsert" message="tns:IAppointmentService_StoreUpsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/StoreUpsertResponse" message="tns:IAppointmentService_StoreUpsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StoreGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/StoreGet" message="tns:IAppointmentService_StoreGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/StoreGetResponse" message="tns:IAppointmentService_StoreGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StoreToXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/StoreToXML" message="tns:IAppointmentService_StoreToXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/StoreToXMLResponse" message="tns:IAppointmentService_StoreToXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RefreshTokenNoReturn">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/RefreshTokenNoReturn" message="tns:IAppointmentService_RefreshTokenNoReturn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/RefreshTokenNoReturnResponse" message="tns:IAppointmentService_RefreshTokenNoReturn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StoreToXMLByDateTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/StoreToXMLByDateTime" message="tns:IAppointmentService_StoreToXMLByDateTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/StoreToXMLByDateTimeResponse" message="tns:IAppointmentService_StoreToXMLByDateTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PermissionUpsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/PermissionUpsert" message="tns:IAppointmentService_PermissionUpsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/PermissionUpsertResponse" message="tns:IAppointmentService_PermissionUpsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PermissionGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/PermissionGet" message="tns:IAppointmentService_PermissionGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/PermissionGetResponse" message="tns:IAppointmentService_PermissionGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PermissionToXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/PermissionToXML" message="tns:IAppointmentService_PermissionToXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/PermissionToXMLResponse" message="tns:IAppointmentService_PermissionToXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUpsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/CreateUpsert" message="tns:IAppointmentService_CreateUpsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/CreateUpsertResponse" message="tns:IAppointmentService_CreateUpsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PermissionToXMLByDateTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/PermissionToXMLByDateTime" message="tns:IAppointmentService_PermissionToXMLByDateTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/PermissionToXMLByDateTimeResponse" message="tns:IAppointmentService_PermissionToXMLByDateTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SystemUserGroupUpsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/SystemUserGroupUpsert" message="tns:IAppointmentService_SystemUserGroupUpsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/SystemUserGroupUpsertResponse" message="tns:IAppointmentService_SystemUserGroupUpsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/GenerateToken" message="tns:IAppointmentService_GenerateToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/GenerateTokenResponse" message="tns:IAppointmentService_GenerateToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SystemUserUpsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/SystemUserUpsert" message="tns:IAppointmentService_SystemUserUpsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/SystemUserUpsertResponse" message="tns:IAppointmentService_SystemUserUpsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SystemUserGroupGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/SystemUserGroupGet" message="tns:IAppointmentService_SystemUserGroupGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/SystemUserGroupGetResponse" message="tns:IAppointmentService_SystemUserGroupGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SystemUserGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/SystemUserGet" message="tns:IAppointmentService_SystemUserGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/SystemUserGetResponse" message="tns:IAppointmentService_SystemUserGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SystemUserGroupToXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/SystemUserGroupToXML" message="tns:IAppointmentService_SystemUserGroupToXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/SystemUserGroupToXMLResponse" message="tns:IAppointmentService_SystemUserGroupToXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SystemUserGroupToXMLByDateTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/SystemUserGroupToXMLByDateTime" message="tns:IAppointmentService_SystemUserGroupToXMLByDateTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/SystemUserGroupToXMLByDateTimeResponse" message="tns:IAppointmentService_SystemUserGroupToXMLByDateTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RefreshToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/RefreshToken" message="tns:IAppointmentService_RefreshToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/RefreshTokenResponse" message="tns:IAppointmentService_RefreshToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SystemUserGroupPermissionUpsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/SystemUserGroupPermissionUpsert" message="tns:IAppointmentService_SystemUserGroupPermissionUpsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/SystemUserGroupPermissionUpsertResponse" message="tns:IAppointmentService_SystemUserGroupPermissionUpsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SystemUserGroupPermissionGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/SystemUserGroupPermissionGet" message="tns:IAppointmentService_SystemUserGroupPermissionGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/SystemUserGroupPermissionGetResponse" message="tns:IAppointmentService_SystemUserGroupPermissionGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SystemUserGroupPermissionToXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/SystemUserGroupPermissionToXML" message="tns:IAppointmentService_SystemUserGroupPermissionToXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/SystemUserGroupPermissionToXMLResponse" message="tns:IAppointmentService_SystemUserGroupPermissionToXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SystemUserGroupPermissionToXMLByDateTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/SystemUserGroupPermissionToXMLByDateTime" message="tns:IAppointmentService_SystemUserGroupPermissionToXMLByDateTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/SystemUserGroupPermissionToXMLByDateTimeResponse" message="tns:IAppointmentService_SystemUserGroupPermissionToXMLByDateTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SystemUserPermissionToXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/SystemUserPermissionToXML" message="tns:IAppointmentService_SystemUserPermissionToXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/SystemUserPermissionToXMLResponse" message="tns:IAppointmentService_SystemUserPermissionToXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SystemUserPermissionToXMLByDateTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/SystemUserPermissionToXMLByDateTime" message="tns:IAppointmentService_SystemUserPermissionToXMLByDateTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/SystemUserPermissionToXMLByDateTimeResponse" message="tns:IAppointmentService_SystemUserPermissionToXMLByDateTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SystemUserGroupLineToXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/SystemUserGroupLineToXML" message="tns:IAppointmentService_SystemUserGroupLineToXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/SystemUserGroupLineToXMLResponse" message="tns:IAppointmentService_SystemUserGroupLineToXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SystemUserGroupLineToXMLByDateTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/SystemUserGroupLineToXMLByDateTime" message="tns:IAppointmentService_SystemUserGroupLineToXMLByDateTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/SystemUserGroupLineToXMLByDateTimeResponse" message="tns:IAppointmentService_SystemUserGroupLineToXMLByDateTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChildren">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/GetChildren" message="tns:IAppointmentService_GetChildren_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/GetChildrenResponse" message="tns:IAppointmentService_GetChildren_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateToXml">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/CreateToXml" message="tns:IAppointmentService_CreateToXml_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/CreateToXmlResponse" message="tns:IAppointmentService_CreateToXml_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SystemUserPermissionUpsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/SystemUserPermissionUpsert" message="tns:IAppointmentService_SystemUserPermissionUpsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/SystemUserPermissionUpsertResponse" message="tns:IAppointmentService_SystemUserPermissionUpsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SystemUserPermissionGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/SystemUserPermissionGet" message="tns:IAppointmentService_SystemUserPermissionGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/SystemUserPermissionGetResponse" message="tns:IAppointmentService_SystemUserPermissionGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/Login" message="tns:IAppointmentService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/LoginResponse" message="tns:IAppointmentService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccountUpsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/AccountUpsert" message="tns:IAppointmentService_AccountUpsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/AccountUpsertResponse" message="tns:IAppointmentService_AccountUpsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccountGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/AccountGet" message="tns:IAppointmentService_AccountGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/AccountGetResponse" message="tns:IAppointmentService_AccountGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccountToXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/AccountToXML" message="tns:IAppointmentService_AccountToXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/AccountToXMLResponse" message="tns:IAppointmentService_AccountToXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccountToXMLByDateTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/AccountToXMLByDateTime" message="tns:IAppointmentService_AccountToXMLByDateTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/AccountToXMLByDateTimeResponse" message="tns:IAppointmentService_AccountToXMLByDateTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuditLogUpsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/AuditLogUpsert" message="tns:IAppointmentService_AuditLogUpsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/AuditLogUpsertResponse" message="tns:IAppointmentService_AuditLogUpsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivityScheduleUpsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/ActivityScheduleUpsert" message="tns:IAppointmentService_ActivityScheduleUpsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/ActivityScheduleUpsertResponse" message="tns:IAppointmentService_ActivityScheduleUpsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivityScheduleGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/ActivityScheduleGet" message="tns:IAppointmentService_ActivityScheduleGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/ActivityScheduleGetResponse" message="tns:IAppointmentService_ActivityScheduleGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Tester">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/Tester" message="tns:IAppointmentService_Tester_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/TesterResponse" message="tns:IAppointmentService_Tester_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivityScheduleToXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/ActivityScheduleToXML" message="tns:IAppointmentService_ActivityScheduleToXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/ActivityScheduleToXMLResponse" message="tns:IAppointmentService_ActivityScheduleToXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivityScheduleToXMLByDateTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/ActivityScheduleToXMLByDateTime" message="tns:IAppointmentService_ActivityScheduleToXMLByDateTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/ActivityScheduleToXMLByDateTimeResponse" message="tns:IAppointmentService_ActivityScheduleToXMLByDateTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivityTypeUpsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/ActivityTypeUpsert" message="tns:IAppointmentService_ActivityTypeUpsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/ActivityTypeUpsertResponse" message="tns:IAppointmentService_ActivityTypeUpsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivityTypeGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/ActivityTypeGet" message="tns:IAppointmentService_ActivityTypeGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/ActivityTypeGetResponse" message="tns:IAppointmentService_ActivityTypeGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivityTypeToXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/ActivityTypeToXML" message="tns:IAppointmentService_ActivityTypeToXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/ActivityTypeToXMLResponse" message="tns:IAppointmentService_ActivityTypeToXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivityTypeToXMLByDateTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/ActivityTypeToXMLByDateTime" message="tns:IAppointmentService_ActivityTypeToXMLByDateTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/ActivityTypeToXMLByDateTimeResponse" message="tns:IAppointmentService_ActivityTypeToXMLByDateTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AppointmentUpsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/AppointmentUpsert" message="tns:IAppointmentService_AppointmentUpsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/AppointmentUpsertResponse" message="tns:IAppointmentService_AppointmentUpsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AppointmentGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/AppointmentGet" message="tns:IAppointmentService_AppointmentGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/AppointmentGetResponse" message="tns:IAppointmentService_AppointmentGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AppointmentToXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/AppointmentToXML" message="tns:IAppointmentService_AppointmentToXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/AppointmentToXMLResponse" message="tns:IAppointmentService_AppointmentToXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AppointmentToXMLByDateTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/AppointmentToXMLByDateTime" message="tns:IAppointmentService_AppointmentToXMLByDateTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/AppointmentToXMLByDateTimeResponse" message="tns:IAppointmentService_AppointmentToXMLByDateTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceProviderUpsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/ServiceProviderUpsert" message="tns:IAppointmentService_ServiceProviderUpsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/ServiceProviderUpsertResponse" message="tns:IAppointmentService_ServiceProviderUpsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceProviderGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/ServiceProviderGet" message="tns:IAppointmentService_ServiceProviderGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/ServiceProviderGetResponse" message="tns:IAppointmentService_ServiceProviderGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceProviderToXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/ServiceProviderToXML" message="tns:IAppointmentService_ServiceProviderToXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/ServiceProviderToXMLResponse" message="tns:IAppointmentService_ServiceProviderToXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceProviderToXMLByDateTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/ServiceProviderToXMLByDateTime" message="tns:IAppointmentService_ServiceProviderToXMLByDateTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/ServiceProviderToXMLByDateTimeResponse" message="tns:IAppointmentService_ServiceProviderToXMLByDateTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CustomerUpsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/CustomerUpsert" message="tns:IAppointmentService_CustomerUpsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/CustomerUpsertResponse" message="tns:IAppointmentService_CustomerUpsert_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsSecureService" type="tns:IAppointmentService">
    <wsp:PolicyReference URI="#wsSecureService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CustomerGet">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/CustomerGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerToXML">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/CustomerToXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerToXMLByDateTime">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/CustomerToXMLByDateTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreUpsert">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/StoreUpsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreGet">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/StoreGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreToXML">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/StoreToXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshTokenNoReturn">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/RefreshTokenNoReturn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreToXMLByDateTime">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/StoreToXMLByDateTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PermissionUpsert">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/PermissionUpsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PermissionGet">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/PermissionGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PermissionToXML">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/PermissionToXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUpsert">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/CreateUpsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PermissionToXMLByDateTime">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/PermissionToXMLByDateTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SystemUserGroupUpsert">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/SystemUserGroupUpsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateToken">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/GenerateToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SystemUserUpsert">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/SystemUserUpsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SystemUserGroupGet">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/SystemUserGroupGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SystemUserGet">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/SystemUserGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SystemUserGroupToXML">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/SystemUserGroupToXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SystemUserGroupToXMLByDateTime">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/SystemUserGroupToXMLByDateTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshToken">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/RefreshToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SystemUserGroupPermissionUpsert">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/SystemUserGroupPermissionUpsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SystemUserGroupPermissionGet">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/SystemUserGroupPermissionGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SystemUserGroupPermissionToXML">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/SystemUserGroupPermissionToXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SystemUserGroupPermissionToXMLByDateTime">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/SystemUserGroupPermissionToXMLByDateTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SystemUserPermissionToXML">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/SystemUserPermissionToXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SystemUserPermissionToXMLByDateTime">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/SystemUserPermissionToXMLByDateTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SystemUserGroupLineToXML">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/SystemUserGroupLineToXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SystemUserGroupLineToXMLByDateTime">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/SystemUserGroupLineToXMLByDateTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChildren">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/GetChildren" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateToXml">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/CreateToXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SystemUserPermissionUpsert">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/SystemUserPermissionUpsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SystemUserPermissionGet">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/SystemUserPermissionGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountUpsert">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/AccountUpsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountGet">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/AccountGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountToXML">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/AccountToXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountToXMLByDateTime">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/AccountToXMLByDateTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuditLogUpsert">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/AuditLogUpsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivityScheduleUpsert">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/ActivityScheduleUpsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivityScheduleGet">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/ActivityScheduleGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tester">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/Tester" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivityScheduleToXML">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/ActivityScheduleToXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivityScheduleToXMLByDateTime">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/ActivityScheduleToXMLByDateTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivityTypeUpsert">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/ActivityTypeUpsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivityTypeGet">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/ActivityTypeGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivityTypeToXML">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/ActivityTypeToXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivityTypeToXMLByDateTime">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/ActivityTypeToXMLByDateTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppointmentUpsert">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/AppointmentUpsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppointmentGet">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/AppointmentGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppointmentToXML">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/AppointmentToXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppointmentToXMLByDateTime">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/AppointmentToXMLByDateTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceProviderUpsert">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/ServiceProviderUpsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceProviderGet">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/ServiceProviderGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceProviderToXML">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/ServiceProviderToXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceProviderToXMLByDateTime">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/ServiceProviderToXMLByDateTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerUpsert">
      <soap12:operation soapAction="http://tempuri.org/IAppointmentService/CustomerUpsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AppointmentService">
    <wsdl:port name="wsSecureService" binding="tns:wsSecureService">
      <soap12:address location="https://localhost:44335/AppointmentService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://localhost:44335/AppointmentService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>