DBLayerGeneratorTest/ApplicationClient/Connected Services/MerchantService/MerchantService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MerchantService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="wsSecureService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpsToken RequireClientCertificate="false" />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:SignedSupportingTokens>
                      <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:WssUsernameToken10 />
                          </wsp:Policy>
                        </sp:UsernameToken>
                      </wsp:Policy>
                    </sp:SignedSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy />
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:25000/MerchantService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:25000/MerchantService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMerchantService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IMerchantService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IMerchantService_RefreshTokenNoReturn_InputMessage">
    <wsdl:part name="parameters" element="tns:RefreshTokenNoReturn" />
  </wsdl:message>
  <wsdl:message name="IMerchantService_RefreshTokenNoReturn_OutputMessage">
    <wsdl:part name="parameters" element="tns:RefreshTokenNoReturnResponse" />
  </wsdl:message>
  <wsdl:message name="IMerchantService_SystemUserUpsert_InputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserUpsert" />
  </wsdl:message>
  <wsdl:message name="IMerchantService_SystemUserUpsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserUpsertResponse" />
  </wsdl:message>
  <wsdl:message name="IMerchantService_CustomerUpsert_InputMessage">
    <wsdl:part name="parameters" element="tns:CustomerUpsert" />
  </wsdl:message>
  <wsdl:message name="IMerchantService_CustomerUpsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:CustomerUpsertResponse" />
  </wsdl:message>
  <wsdl:message name="IMerchantService_ServiceProviderUpsert_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceProviderUpsert" />
  </wsdl:message>
  <wsdl:message name="IMerchantService_ServiceProviderUpsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceProviderUpsertResponse" />
  </wsdl:message>
  <wsdl:message name="IMerchantService_AppointmentUpsert_InputMessage">
    <wsdl:part name="parameters" element="tns:AppointmentUpsert" />
  </wsdl:message>
  <wsdl:message name="IMerchantService_AppointmentUpsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:AppointmentUpsertResponse" />
  </wsdl:message>
  <wsdl:message name="IMerchantService_AppointmentGet_InputMessage">
    <wsdl:part name="parameters" element="tns:AppointmentGet" />
  </wsdl:message>
  <wsdl:message name="IMerchantService_AppointmentGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:AppointmentGetResponse" />
  </wsdl:message>
  <wsdl:message name="IMerchantService_CustomerGet_InputMessage">
    <wsdl:part name="parameters" element="tns:CustomerGet" />
  </wsdl:message>
  <wsdl:message name="IMerchantService_CustomerGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:CustomerGetResponse" />
  </wsdl:message>
  <wsdl:message name="IMerchantService_CustomerGetAsList_InputMessage">
    <wsdl:part name="parameters" element="tns:CustomerGetAsList" />
  </wsdl:message>
  <wsdl:message name="IMerchantService_CustomerGetAsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:CustomerGetAsListResponse" />
  </wsdl:message>
  <wsdl:message name="IMerchantService_SystemUserGet_InputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserGet" />
  </wsdl:message>
  <wsdl:message name="IMerchantService_SystemUserGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserGetResponse" />
  </wsdl:message>
  <wsdl:message name="IMerchantService_SystemUserGetAsList_InputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserGetAsList" />
  </wsdl:message>
  <wsdl:message name="IMerchantService_SystemUserGetAsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SystemUserGetAsListResponse" />
  </wsdl:message>
  <wsdl:portType name="IMerchantService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseService/Login" message="tns:IMerchantService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseService/LoginResponse" message="tns:IMerchantService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RefreshTokenNoReturn">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseService/RefreshTokenNoReturn" message="tns:IMerchantService_RefreshTokenNoReturn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseService/RefreshTokenNoReturnResponse" message="tns:IMerchantService_RefreshTokenNoReturn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SystemUserUpsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IMerchantService/SystemUserUpsert" message="tns:IMerchantService_SystemUserUpsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMerchantService/SystemUserUpsertResponse" message="tns:IMerchantService_SystemUserUpsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CustomerUpsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IMerchantService/CustomerUpsert" message="tns:IMerchantService_CustomerUpsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMerchantService/CustomerUpsertResponse" message="tns:IMerchantService_CustomerUpsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceProviderUpsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IMerchantService/ServiceProviderUpsert" message="tns:IMerchantService_ServiceProviderUpsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMerchantService/ServiceProviderUpsertResponse" message="tns:IMerchantService_ServiceProviderUpsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AppointmentUpsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IMerchantService/AppointmentUpsert" message="tns:IMerchantService_AppointmentUpsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMerchantService/AppointmentUpsertResponse" message="tns:IMerchantService_AppointmentUpsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AppointmentGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IMerchantService/AppointmentGet" message="tns:IMerchantService_AppointmentGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMerchantService/AppointmentGetResponse" message="tns:IMerchantService_AppointmentGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CustomerGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IMerchantService/CustomerGet" message="tns:IMerchantService_CustomerGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMerchantService/CustomerGetResponse" message="tns:IMerchantService_CustomerGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CustomerGetAsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IMerchantService/CustomerGetAsList" message="tns:IMerchantService_CustomerGetAsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMerchantService/CustomerGetAsListResponse" message="tns:IMerchantService_CustomerGetAsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SystemUserGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IMerchantService/SystemUserGet" message="tns:IMerchantService_SystemUserGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMerchantService/SystemUserGetResponse" message="tns:IMerchantService_SystemUserGet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SystemUserGetAsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IMerchantService/SystemUserGetAsList" message="tns:IMerchantService_SystemUserGetAsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMerchantService/SystemUserGetAsListResponse" message="tns:IMerchantService_SystemUserGetAsList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsSecureService" type="tns:IMerchantService">
    <wsp:PolicyReference URI="#wsSecureService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IBaseService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshTokenNoReturn">
      <soap12:operation soapAction="http://tempuri.org/IBaseService/RefreshTokenNoReturn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SystemUserUpsert">
      <soap12:operation soapAction="http://tempuri.org/IMerchantService/SystemUserUpsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerUpsert">
      <soap12:operation soapAction="http://tempuri.org/IMerchantService/CustomerUpsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceProviderUpsert">
      <soap12:operation soapAction="http://tempuri.org/IMerchantService/ServiceProviderUpsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppointmentUpsert">
      <soap12:operation soapAction="http://tempuri.org/IMerchantService/AppointmentUpsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppointmentGet">
      <soap12:operation soapAction="http://tempuri.org/IMerchantService/AppointmentGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerGet">
      <soap12:operation soapAction="http://tempuri.org/IMerchantService/CustomerGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerGetAsList">
      <soap12:operation soapAction="http://tempuri.org/IMerchantService/CustomerGetAsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SystemUserGet">
      <soap12:operation soapAction="http://tempuri.org/IMerchantService/SystemUserGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SystemUserGetAsList">
      <soap12:operation soapAction="http://tempuri.org/IMerchantService/SystemUserGetAsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MerchantService">
    <wsdl:port name="wsSecureService" binding="tns:wsSecureService">
      <soap12:address location="https://localhost:44335/MerchantService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://localhost:44335/MerchantService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>